/* Intro */

.intro-interna {
    background: url('../img/page-acompanhamentos/bg-acompanhamentos.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 225px 0;
    text-align: center;
}

.intro-interna h1,h2 {
    font-weight: normal;
    color: #fff;
}

.intro-interna h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro-interna h2 {
    max-width: 545px;
    margin: 0 auto;
    font-size: 1.5em;
}

