/* Intro */

.intro-interna {
    background: url('../img/page-cafes/bg-cafes.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 225px 0;
    text-align: center;
}

.intro-interna h1,h2 {
    font-weight: normal;
    color: #fff;
}

.intro-interna h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.intro-interna h2 {
    max-width: 545px;
    margin: 0 auto;
    font-size: 1.5em;
}

/* Menu Produtos */

.menu-produtos {
    padding: 55px 0 70px 0;
}

.menu-produtos-box {
    margin: 0 auto;
    max-width: 690px;
    height: 50px;
    background: #B89D64;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 739px) {
    .menu-produtos-box {
        max-width: 450px;
    }
}

.menu-produtos-box h3 {
    text-transform: uppercase;
    font-size: 1.125em;
    color: #fff;
}

.menu-produtos-box h3:hover {
    color: #693E32;
}

/* Lista Produtos */

.lista-produtos {
    padding: 0 0 55px 0;
}

.lista-produtos h2 {
    color: #484b4d;
}

.produto-item {
    padding: 30px 0;
}
@media (max-width: 739px) {
    .produto-item {
        align-items: center;
    }
}

.produto-info h2 {
    color: #484B4D;
    font-weight: bold;
    margin-bottom: 15px;
}

.produto-info p {
    color: #484B4D;
}

.produto-img, .produto-info {
    flex: 1;
    margin: 0 20px 0 0;
    max-width: 300px;
}

.produto-info {
    align-self: center;
    max-width: 300px;
}
@media (max-width: 739px) {
    .produto-info {
        margin-right: 0px;
    }
}

@media (max-width: 739px) {
    .produto-img {
        margin: 0px;
        width: 100%;
        margin-bottom: 10px;
    }
}

.produto-img img {
    display: block;
}
@media (max-width: 739px) {
    .produto-img img{
        max-width: 100%;
    }
}

.produto-preco {
    flex: 1;
    text-align: right;
    align-self: center;
}
@media (max-width: 739px) {
    .produto-preco {
        align-self: flex-start;
        margin-top: 10px;
    }
}

.produto-preco p{
    font-size: 1.5em;
    color: #693E32;
    font-weight: bold;
}

/* Contato */

.contato {
    background: #F5F5F5;
}