@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Reset */

body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Playfair Display', serif;
    color: #252525;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}

a {
    text-decoration: none;
}

/* Menu */

.menu {
    background: transparent;
    padding: 15px 0;
    position: absolute;
    width: 100%;
}

.menu-nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    padding: 10px;
}

.menu-nav a:hover {
    color: #B89D64;
}

.menu-nav {
    flex: 1;
    align-self: center;
}

.menu-nav ul {
    float: right;
    display: flex;
    list-style: none;
}

/* Intro */

.intro {
    background: url('../img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 225px 0;
}

.intro-texto{
    flex-direction: column;
}

.intro-texto h1{
    font-size: 2.25em;
    font-weight: normal;
    margin-bottom: 10px;
}

.redes-sociais {
    display: flex;
}

.intro-texto a{
    line-height: 35px;
    width: 30px;
    height: 30px;
    margin: 0 2px;
    text-align: center;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
}

.redes-sociais a:hover{
    border:1px solid #B89D64;
}

.fa-facebook:before{
    content: url("../img/redes-sociais/fb-icone.svg");
}

.fa-instagram:before{
    content: url("../img/redes-sociais/ig-icone.svg");
}

/* Sobre */

.sobre-titulo {
    padding: 55px 0;
}

.sobre-titulo a {
    display: flex;
    align-self: flex-start;
    text-decoration: none;
}

.sobre-titulo a::before {
    content: '';
    width: 30px;
	height: 30px;
	background: #29474C;
    border-radius: 50%;
    margin: 0 10px;
    flex-shrink: 0;
}

.sobre-titulo a p {
    align-self: center;
    color: #484B4D;
    font-family: 'Playfair Display', serif;
}

.sobre-titulo h2 {
    align-self: auto;
    font-size: 1.5em;
    font-weight: normal;
    color: #484B4D;
    margin-left: 40px;
}

.sobre-conteudo{
    justify-content: center;
    max-width: 960px;
    margin-bottom: 55px;
}

.sobre-img, .sobre-info {
    flex: 1;
    margin: 0 10px;
}

.sobre-img img {
    display: block;
    max-width: 100%;
}

.sobre-info {
    align-self: center;
}

.sobre-info p{
    margin-bottom: 10px;
    color: #A9AEB3;
}

.sobre-info a {
    font-family: 'Open Sans', sans-serif;
    color: #484B4D;
    font-weight: bold;
    font-size: 0.875em;
}

.sobre-info a::after {
    content: '';
	display: block;
	width: 60px;
	height: 2px;
	background: #29474C;
	margin-top: 1px;
}

/* Ingredientes perfeitos */

.ingredientes-perfeitos {
    background: url('../img/ingredientes-perfeitos/bg-ingredientes-perfeitos.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 55px 0;
}

.ingredientes-perfeitos h3{
    font-size: 0.875em;
    font-weight: normal;
    color: #B89D64;
}

.ingredientes-perfeitos > h2{
    font-size: 1.5em;
    font-weight: bold;
    color: #693E32;
    margin-bottom: 40px;
}

.ingredientes-perfeitos .container {
    max-width: 960px;
}

.ingredientes-item {
	flex: 1;
    margin: 0 10px 0 10px;
}

.ingredientes-item .play-icon{
    position: relative;
    left: -105px;
    z-index: 1;
}

.ingredientes-item h2::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #693E32;
    box-shadow: 0 0 0 10px #fff;
    margin: -40px auto 20px auto;
    position: relative;
}

.ingredientes-item h2 {
    text-align: center;
    font-size: 1.125em;
    font-weight: bold;
    color: #693E32;
}

.ingredientes-item p {
    color: #693E32;
}

/* Cafés */

.cafes {
    padding: 55px 0;
    text-align: center;
}

.cafes .container {
    max-width: 960px;
    justify-content: space-between;
}

.cafes h2{
    display: flex;
    max-width: 960px;
    margin: 0 auto 30px auto;
    color: #484B4D;
    font-weight: normal;
}

.cafes-item {
    flex: 1;
    max-width: 305px;
}

.cafes-item p {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.125em;
    color: #fff;
    position: relative;
    top: -50px;
}

.cafes a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;
}

.cafes a::before {
    content: '';
    width: 30px;
	height: 30px;
	background: #29474C;
    border-radius: 50%;
    margin: 0 10px;
    flex-shrink: 0;
}

.cafes a p {
    align-self: center;
    color: #484B4D;
    font-family: 'Playfair Display', serif;
}

/* Acompanhamentos */

.acompanhamentos {
    background: #271F1B;
    text-align: center;
    padding: 55px 0;
}

.acompanhamentos .container {
    justify-content: space-between;
    max-width: 960px;
}

.acompanhamentos h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 50px;
}

.acompanhamentos h3 {
    font-family: 'Open Sans', sans-serif;
    color: #B89D64;
    font-weight: bold;
    font-size: 1.125em;
    margin-bottom: 10px;
}

.acompanhamentos-item-texto p {
    color: #fff;
    margin-bottom: 40px;
}

.acompanhamentos-item {
    display: flex;
    max-width: 355px;
    flex-shrink: 0;
}

.acompanhamentos-item img{
    margin-left: 20px;
}

.acompanhamentos-item-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.acompanhamentos a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;
}

.acompanhamentos a::before {
    content: '';
    width: 30px;
	height: 30px;
	background: #29474C;
    border-radius: 50%;
    margin: 0 10px;
    flex-shrink: 0;
}

.acompanhamentos a p {
    align-self: center;
    color: #fff;
    font-family: 'Playfair Display', serif;
}